---
import Layout from '../layouts/Layout.astro';
import SocialsBtn from '../components/SocialsBtn.astro';
import AboutMe from '../components/AboutMe.astro';
import Skills from '../components/Skills.astro';
import Projects from '../components/Projects.astro';
import IconComponent from '../components/IconComponent';

import { FaGithub, FaLinkedin, FaAngleDoubleDown } from "react-icons/fa";
import { TbMailShare } from "react-icons/tb";
---

<Layout 
	title="Leandro Rossi Portfolio" 
	description="Leandro Rossi Frontend Developer - Portfolio"
>	
	<main class="flex flex-col gap-6 text-gray-100 w-full sm:w-2/3 m-auto sm:p-4">
		<section id="inicio" class="flex flex-col justify-center items-center rounded-3xl min-h-[95vh] relative">			
			<div class="flex flex-col text-center">		
				<h1 class="text-3xl xs:text-5xl sm:text-7xl font-bold">Leandro Rossi</h1>
				<h2 class="text-blue-500 text-xl xs:text-3xl sm:text-5xl font-semibold">Frontend Developer</h2>				
			</div>	
			<div class="py-6">
				<SocialsBtn
					href="https://www.linkedin.com/in/rossileandro/"
					title="LinkedIn"
					icon={FaLinkedin}
				/>				
				<SocialsBtn
					href="https://github.com/leandrofrossi"
					title="GitHub"
					icon={FaGithub}
				/>
				<SocialsBtn
					href="mailto:rossileandrof@gmail.com"
					title="Email"
					icon={TbMailShare}
				/>
			</div>		
			<div class="absolute bottom-8 xs:mb-4 flex justify-center w-full">
				<IconComponent icon={FaAngleDoubleDown} title="ScrollDown" className="size-6 xs:size-8 md:size-10 animate-bounce hover:text-blue-500" />
			</div>								
		</section>
		<section id="proyectos" class="min-h-screen lg:p-6">
			<h2 class="font-semibold text-2xl sm:text-3xl mb-4">Proyectos</h2>
			<Projects/>
		</section>
		<section id="skills" class="lg:p-6 min-h-screen flex flex-col justify-center">
			<h2 class="font-semibold text-2xl sm:text-3xl mb-6">Skills</h2>
			<Skills/>
		</section>	
		<section id="sobre-mi" class="backdrop-blur-sm lg:p-6 rounded-2xl mb-12">
			<h2 class="font-semibold text-2xl sm:text-3xl mb-8 lg:mb-4">Sobre mí</h2>
			<AboutMe/>
		</section>
	</main>
</Layout>


