<article class="flex flex-col items-center justify-center gap-10 dark:text-gray-300 text-gray-800 text-sm sm:text-base lg:flex-row">
  <div class="[&>p]:mb-4 dark:[&>p>strong]:text-blue-500 [&>p>strong]:text-yellow-300 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 lg:order-1">
    <p>
        Me llamo <strong>Leandro</strong> y soy <strong>de Buenos Aires, Argentina</strong>. Estudié Dirección de Negocios y, tras más de 10 años desarrollandome en lo administrativo/comercial, me pasé al mundo de la Programación. Desde entonces disfruto creando experiencias web para los usuarios.
    </p>
    <p>
        Comencé estudiando <strong>desarrollo frontend con React</strong> y continué con <strong>programación backend con Java</strong>, ambos en Coderhouse. Luego descubrí las simulaciones laborales de No Country y participé en varias de ellas como desarrollador frontend, donde aprendí mucho a nivel técnico pero mucho más en habilidades blandas y trabajo en equipo.
    </p>
    <p>
        Además de participar en simulaciones laborales, <strong>participé en una Hackathon grupal de 5 semanas de No Country con un cliente real</strong>, donde debiamos facilitar el contacto y el intercambio de información entre los distintos usuarios del rubro salud.
    </p>
  </div>  
  <img width="200" height="200" src="/cv.webp" alt="foto de perfil" class="order-1 object-cover w-44 h-full p-1 lg:order-2 rotate-3 lg:p-2 sm:w-64 aspect-square rounded-2xl ring-4 ring-yellow-300 dark:ring-blue-500 hover:shadow-xl hover:shadow-white dark:hover:shadow-blue-300 " style="object-position: 50% 50%">  
</article>