---
const currentYear = new Date().getFullYear()
---

<footer
  class="opacity-80 m-4 md:mt-8 w-full md:w-3/4 mx-auto container mb-10 flex justify-center"
>
  <div
    class="rounded-lg w-full max-w-screen-xl mx-auto flex flex-col gap-4 sm:flex-row items-center sm:justify-between p-4"
  >
    <span class="text-sm sm:text-center text-zinc-200/90 order-2 sm:order-1">Leandro Rossi - {currentYear}</span>
    <ul class="flex flex-wrap items-center text-sm font-medium text-white/90 order-1 sm:order-2">
      <li>
        <a href="/#inicio" class="hover:underline me-4 sm:me-6">Inicio</a>
      </li>
      <li>
        <a href="/#proyectos" class="hover:underline me-4 sm:me-6">Proyectos</a>
      </li>
      <li>
        <a href="/#skills" class="hover:underline me-4 sm:me-6">Skills</a>
      </li>
      <li>
        <a id="contacto" href="mailto:rossileandrof@gmail.com" class="hover:underline">Contacto</a
        >
      </li>
    </ul>
  </div>
</footer>