---
interface Props {
	title: string;
	href: string;
	icon: any;
}

const { href, title, icon } = Astro.props;

import IconComponent from './IconComponent.jsx';
---
<button class="hover:bg-blue-500 hover:shadow-md hover:shadow-blue-200 rounded-xl border p-2 backdrop-blur-sm">
	<a href={href} target="_blank" rel="noopener noreferrer" class="flex items-center gap-1">
		<IconComponent icon={icon} className="w-6 h-6"/>
		<h2 class="text-sm sm:text-lg">
			{title}			
		</h2>		
	</a>
</button>