---
interface Props {
	title: string;
}

const { title } = Astro.props;

import { ViewTransitions } from 'astro:transitions';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Leandro Rossi Frontend Developer - Portfolio" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="theme-color" content="#22333B" />
		<meta name="robots" content="index, follow" />
		<meta name="generator" content={Astro.generator} />

		<meta property="og:title" content="Leandro Rossi Frontend Developer">
  		<meta property="og:description" content="Leandro Rossi Frontend Developer - Portfolio">
  		<meta property="og:image" content="/cv-img.jpg">
  		<meta property="og:image:alt" content="Imagen perfil Leandro Rossi Frontend Developer">

		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="font-mono p-10">	
		<slot />			
	</body>
	
</html>
<style is:global>	
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-image: url("/GalaxyWallpaper.png");
		background-repeat: no-repeat;
		background-size: cover;			
	}	
</style>
